
body {
  background-color: #2B7A0B;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.game-grid {
  width: 50vw;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2%;
}

/* deck section */
.section--deck {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.deck-img {
  width: 220px;
}

/* cards sections */
.section--cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.cards {
  display: flex;
}

.card-img {
  width: 100px;
  height: 150px;
}

/* dealer section */
.cards--dealer {
  align-items: flex-end;
  justify-content: flex-end;
}

.total--dealer {
  text-align: right;
}

/* player section */
.cards--player {
  align-items: flex-start;
  justify-content: flex-start;
}

.total--player {
  text-align: left;
}

/* buttons section */
.section--buttons {
  display: grid;
  align-items: center;
  justify-content: flex-end;
  gap: 2%;
  padding: 5%;
}

.btn {
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.btn--hit {
  align-self: flex-end;
}
