
body {
  background-color: #2B7A0B;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.cards-grid {
  width: 50vw;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2%;
}

.section {
  display: grid;
  padding: 5%;
}

.cards {
  display: flex;
}

.deck {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards--dealer {
  align-items: flex-start;
  justify-content: flex-start;
}

.total--dealer {
  text-align: left;
}

.section {
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  justify-content: center;
  align-items: center;
}

.total--player {
  text-align: right;
}

.cards--player {
  align-items: flex-end;
  justify-content: flex-end;
}

.card-img {
  width: 100px;
  height: 150px;
}

.deck-img {
  width: 220px;
}

.game-buttons {
  display: grid;
  align-items: center;
  justify-content: flex-start;
  gap: 2%;
  padding: 5%;
}

.btn {
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.btn--hit {
  align-self: flex-end;
}
